body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f3f4;
    padding-bottom: 2rem;
}
.title{
    font-family: Arial, Helvetica, sans-serif;
}

.md{
    font-size: 1.5rem;
}

.sm{
    font-size: 1rem;
}

.sx{
    font-size: 0.5rem;
}

/***** LABORATORIO 3*****/
.titulo{
    text-align: center;
    padding: 2rem;
    color: #183654;
}
.carta{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1rem;
    width: 70%;
    margin: auto;
}
.plato{
    width: 27%;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 0px lightgray;
    align-items: center;
    margin-bottom: 2.5rem;
    background-color: white;
    padding-bottom: 1.5rem;
}

img{
    width: 100%;
    border-radius: 5px;
}

.nombre{
    text-align: center;
    color: #183654 ;
}

.description{
    text-align: justify;
    font-size: 0.9rem;
}

.comprar{
    display: flex;
    justify-content: space-around;
    height: 2rem;
    align-items: center;
}

.precio{
    margin-right: 0px;
    color: #19a558;
}

.button{
    background-color: #183654 ;
    color: white;
    border: 0;
    padding: 0.4rem 1rem;
    border-radius: 4px;
    height: 100%;
    text-align: center;
    cursor: pointer;
}

.notAvailable{
    margin: auto;
    color: #e91b1b;
    text-align: center;
    border: 1px solid #e91b1b ;
    padding: 0.4rem;
    width: 60%;
    border-radius: 4px;
    background-color: #fff2f2;
}
